<!DOCTYPE html>
<html>
  <head>
    <title>Goenchi Mati Volunteer Admin</title>
    <link rel="stylesheet" href="/assets/vendor-a9f2886886b62f769f5e071c53585aa0.css" integrity="sha256-3O+AVL32gkKqVLWqQo5JK6s5hQYrINQuQVIoWvjwQRQ= sha512-Mi8dwVoND08XYTlkKZD4xU7Hw2i2Gss7MpqRKcwnXr6q9Rq++mDmsPS6VkgA5VHpJ1GGezU9psdUv1X5f3aicw==" >
    <link rel="stylesheet" href="/assets/gmm-ember-5881c9db681a351834260331e0cebef6.css" integrity="sha256-zsW2BhJ7wPxwe6dFyGuO2pqzlxIlR8rYCwLEcqT0rDI= sha512-124A24kAt6sz2TXv0c0eSnR+HDUm22fgqjX9MQ0P+DxvmUCcHVrklbHQNJL6CvZtWY63B2Wzf1KQKtF8FoLADQ==" >
  </head>
	<body>
		<div id="main">
      <a href="/"><h1 id="logo">Goenchi Mati Movement</h1></a>
      <div class="container">
        <%= yield %>
      </div>
		</div>
  </body>
</html>
