<!DOCTYPE html>
<html>
  <head>
    <title>Goenchi Mati Volunteer Admin</title>
    <link rel="stylesheet" href="/assets/vendor-a9f2886886b62f769f5e071c53585aa0.css">
    <link rel="stylesheet" href="/assets/gmm-ember-5881c9db681a351834260331e0cebef6.css">
  </head>
	<body>
		<div id="main">
      <a href="/"><h1 id="logo">Goenchi Mati Movement</h1></a>
      <div class="container">
        <%= yield %>
      </div>
		</div>
  </body>
</html>
